.about {
  width: 100%;
  height: auto;
  display: flex;
  bottom: 366px;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background-color: white;
}
.aboutImage {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 80px;
}
.aboutImageItem {
  width: 150px;
  height: 350px;
  border-radius: 30px;
  margin-left: 20px;
}
.aboutImg {
  margin-top: 150px;
}
.aboutTitle {
  width: 50%;
  height: 100%;
}
.aboutHeading {
  font-size: 25px;
  color: #3d340c;
}
.aboutParagraph {
  line-height: 1.6;
  padding-right: 100px;
  color: #806f27;
  font-size: 16px;
}
.aboutBtn {
  color: #3d340c;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 20px;
  border: 3px solid #f2d85f;
  border-radius: 20px;
  border-top-right-radius: 2px;
  background-color: #f2d85f;
}
