.about {
  width: 100%;
  height: 100%;
  display: flex;
  bottom: 457px;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background-color: white;
}
.aboutImage {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 80px;
}
.aboutImageItem {
  width: 150px;
  height: 350px;
  border-radius: 30px;
  margin-left: 20px;
  object-fit: cover;
}
.aboutImg {
  margin-top: 150px;
}
.aboutTitle {
  width: 50%;
  height: 100%;
}
.aboutHeading {
  font-size: 25px;
  color: #3d340c;
}
.aboutParagraph {
  line-height: 1.6;
  padding-right: 100px;
  color: #806f27;
  font-size: 16px;
}
.aboutBtn {
  color: #3d340c;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 20px;
  border: 3px solid #f2d85f;
  border-radius: 20px;
  border-top-right-radius: 2px;
  background-color: #f2d85f;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about {
    flex-direction: column;
    bottom: 330px;
  }
  .aboutImage {
    width: 100%;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-right: 10px;
  }
  .aboutImageItem {
    width: 240px;
    height: 350px;
    margin-left: 10px;
  }
  .aboutTitle {
    width: 100%;
  }
  .aboutHeading {
    bottom: 550px;
    position: relative;
    margin-left: 20px;
  }
  .aboutParagraph {
    margin-left: 20px;
    padding-right: 10px;
    line-height: 1.5;
  }
  .aboutBtn {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    bottom: 330px;
  }
  .aboutImage {
    width: 100%;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-right: 10px;
  }
  .aboutImageItem {
    width: 120px;
    height: 350px;
    margin-left: 10px;
  }
  .aboutTitle {
    width: 100%;
  }
  .aboutHeading {
    bottom: 550px;
    position: relative;
    margin-left: 20px;
  }
  .aboutParagraph {
    margin-left: 20px;
    padding-right: 10px;
    line-height: 1.5;
  }
  .aboutBtn {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 424px) {
  .aboutImageItem {
    width: 105px;
  }
}

@media only screen and (max-width: 374px) {
  .aboutImageItem {
    width: 85px;
  }
}
