.footer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.footerDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerLeft {
  width: 100%;
  height: 100%;
  margin-left: 100px;
}
.footerLeftImage {
  width: 100%;
  height: 100%;
}
.footerImgLeft {
  height: 70px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}
.footerLeftParagraph {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-left: 10px;
}
.footerLeftParagraphItem {
  line-height: 1.6;
  color: #806f27;
}
.footerCenter {
  width: 100%;
  height: 100%;
  margin-left: 110px;
}
.footerCenterList {
  list-style: none;
  margin-bottom: 110px;
}
.footerListItem {
  color: #806f27;
  margin-top: 40px;
  cursor: pointer;
  padding-left: 20px;
}
.footerRight {
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
}
.footerRightTitle {
  width: 100%;
  height: 100%;
}
.footerRightHeading {
  color: #3d340c;
}
.footerRightEmail {
  width: 100%;
  height: 100%;
  display: flex;
}
.footerContactIcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-top: 10px;
}
.footerCopyright {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.footerCopyrightItem {
  text-align: center;
  color: #806f27;
}
.footerContactIconItem {
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: #806f27;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: solid 2px hsl(0deg 1% 50% / 20%);
}
.footerEmail {
  font-size: 20px;
  color: #806f27;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: solid 2px hsl(0deg 1% 50% / 20%);
}
.footerEmailItem {
  color: #806f27;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footerDiv {
    flex-direction: column;
  }
  .footerLeft {
    margin-left: 0px;
  }
  .footerLeftImage {
    margin-left: 20px;
  }
  .footerLeftParagraph {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footerCenter {
    margin-left: 0px;
    margin-right: 60px;
  }
  .footerCenterList {
    list-style: none;
    margin-bottom: 60px;
  }
  .footerListItem {
    margin-top: 30px;
  }
  .footerRight {
    margin-bottom: 50px;
  }
  .footerRightTitle {
    padding-left: 20px;
  }
  .footerRightEmail {
    padding-left: 20px;
  }
  .footerContactIcon {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .footerDiv {
    flex-direction: column;
  }
  .footerLeft {
    margin-left: 0px;
  }
  .footerLeftImage {
    margin-left: 20px;
  }
  .footerLeftParagraph {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footerCenter {
    margin-left: 0px;
    margin-right: 60px;
  }
  .footerCenterList {
    list-style: none;
    margin-bottom: 60px;
  }
  .footerListItem {
    margin-top: 30px;
  }
  .footerRight {
    margin-bottom: 50px;
  }
  .footerRightTitle {
    padding-left: 20px;
  }
  .footerRightEmail {
    padding-left: 20px;
  }
  .footerContactIcon {
    padding-left: 20px;
  }
}
