.help {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d340c;
}
.helpTitleDiv {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  margin-left: 110px;
}
.helpTitle {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.helpHeading {
  font-size: 25px;
  color: white;
}
.helpParagraph {
  line-height: 1.6;
  color: white;
}
.helpDots {
  width: 100%;
  height: 100%;
  margin-left: 100px;
}
.helpList {
  list-style: none;
  line-height: 0.7;
}
.helpListItem {
  font-size: 40px;
  color: white;
}
.helpDivForm {
  width: 600px;
  height: 450px;
  margin-right: 95px;
  border-radius: 10px;
  background-color: white;
}
.helpFormHeading {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.helpHeadingForm {
  font-size: 25px;
  color: #3d340c;
  text-align: center;
}
.helpForm {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.helpFormItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.helpLabel {
  height: 40px;
  margin: 20px 0;
  position: relative;
  width: 100%;
}
.helpSpan {
  background: white;
  color: #565a5c;
  font-size: 13px;
  left: 12px;
  padding: 2px;
  position: absolute;
  top: -10px;
  z-index: 99;
}
.helpInput {
  background-color: inherit;
  border: 1px solid rgba(61, 52, 12, 0.7);
  border-radius: 5px;
  color: #565a5c;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding: 10px;
  width: 100%;
}
.helpBtn {
  color: #3d340c;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 20px;
  border: 3px solid #f2d85f;
  background-color: #f2d85f;
}

@media only screen and (max-width: 767px) {
  .help {
    flex-direction: column;
  }
  .helpTitleDiv {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 50px;
  }
  .helpHeading {
    margin-left: 20px;
  }
  .helpDots {
    top: 450px;
    margin-left: 0px;
    position: relative;
  }
  .helpDivForm {
    bottom: 400px;
    width: 380px;
    height: 450px;
    margin: auto;
    position: relative;
  }
  .helpFormHeading {
    margin: auto;
  }
  .helpForm {
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .helpParagraph {
    top: 480px;
    line-height: 1.5;
    margin-left: 20px;
    padding-right: 10px;
    position: relative;
  }
}

@media only screen and (max-width: 424px) {
  .helpDivForm {
    bottom: 410px;
    width: 330px;
    padding-top: 20px;
  }
  .helpForm {
    width: 330px;
  }
}

@media only screen and (max-width: 374px) {
  .helpDivForm {
    bottom: 460px;
    width: 290px;
  }
  .helpForm {
    width: 290px;
  }
}
