.services {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.servicesTitle {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.servicesHeading {
  color: #3d340c;
  text-align: center;
  font-size: 25px;
}
.serviceBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.divHeadingBody {
  width: 27%;
  height: 100%;
  margin: 10px 10px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 hsl(0deg 1% 50% / 20%);
  border: solid 1px hsl(0deg 1% 50% / 20%);
}
.servicesIconDiv {
  height: 60px;
  width: 60px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: solid 1px hsl(0deg 1% 50% / 20%);
}

.serviceButton {
  width: 100%;
  height: auto;
  padding-top: 20px;
  text-align: center;
}
.servicesBtn {
  color: #3d340c;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 20px;
  border: 3px solid #f2d85f;
  border-radius: 20px;
  border-top-right-radius: 2px;
  background-color: #f2d85f;
}
.sIcon {
  color: #806f27;
  font-size: 40px;
}
.servicesBodyHeadingItem {
  color: #3d340c;
  font-size: 20px;
  margin: 20px 0;
}
.servicesParagraph {
  color: #806f27;
  font-size: 16px;
  line-height: 1.6;
}
