.why {
  width: 100%;
  height: 100%;
  margin-top: -370px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whyTitle {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}
.whyHeading {
  font-size: 25px;
  color: #3d340c;
  padding-bottom: 10px;
}
.whySpanDiv {
  display: flex;
}
.whyParagraph {
  color: #806f27;
  padding-left: 10px;
  padding-right: 100px;
  line-height: 1.6;
  font-size: 16px;
}
.whyIcon {
  color: #806f27;
  font-size: 20px;
}
.whyVideoBody {
  width: 50%;
  height: 100%;
  margin-right: 70px;
}
.whyVideo {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .why {
    flex-direction: column;
  }
  .whyTitle {
    width: 100%;
    margin-left: 0px;
  }
  .whyHeading {
    margin-left: 20px;
  }
  .whyVideoBody {
    width: 100%;
    bottom: 245px;
    margin-left: 0px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
  }
  .whyVideo {
    width: 380px;
    height: 300px;
  }
  .whyParagraph {
    padding-right: 0px;
    line-height: 1.5;
  }
  .whySpanDivDiv {
    top: 310px;
    position: relative;
  }
  .whySpanDiv {
    margin-left: 20px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 424px) {
  .whyVideoBody {
    bottom: 260px;
  }
  .whyVideo {
    width: 330px;
    height: 260px;
  }
  .whySpanDivDiv {
    top: 280px;
  }
}

@media only screen and (max-width: 374px) {
  .whyVideoBody {
    bottom: 310px;
  }
  .whyVideo {
    width: 290px;
    height: 220px;
  }
  .whySpanDivDiv {
    top: 240px;
  }
}
