.says {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 120px;
  background-color: white;
}
.saysItem {
  width: 100%;
  height: 100%;
}
.saysTitle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.saysHeading {
  width: 100%;
  height: 100%;
}
.saysHead {
  font-size: 25px;
  margin-left: 100px;
  color: #3d340c;
}

.sayIcon {
  width: 100%;
  height: 100%;
}
.saysIcon {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 350px;
}
.saysIconList {
  margin-right: 15px;
}
.saysIconItemLeft {
  color: #3d340c;
  font-size: 20px;
  cursor: pointer;
}
.saysIconItemRight {
  color: #94907f;
  font-size: 20px;
  cursor: pointer;
}

.sayBox1 {
  left: 730px;
  top: 138px;
  width: 450px;
  height: 350px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sayBox2 {
  left: 25px;
  top: 70px;
  width: 450px;
  height: 350px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sayBox3 {
  right: 800px;
  width: 450px;
  height: 350px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.saysBox {
  width: 100%;
  height: 430px;
  display: flex;
}
.saysBoxImg {
  width: 100%;
  height: 100%;
  top: 30px;
  left: 20px;
  position: relative;
}
.saysBoxItemImg {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
}
.saysParagraph1 {
  padding-top: 20px;
  color: #806f27;
  line-height: 1.6;
}
.saysParagraph2 {
  padding-top: 20px;
  color: #806f27;
  line-height: 1.6;
}
.saysParagraph3 {
  padding-top: 20px;
  color: white;
  line-height: 1.6;
}
.sayBoxItem1 {
  width: 450px;
  height: 350px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  background-color: #e9e8e3;
}
.sayBoxItem2 {
  width: 450px;
  height: 350px;
  padding: 30px;
  position: relative;
  border-radius: 10px;
  background-color: #dfd5a8;
}
.sayBoxItem3 {
  width: 450px;
  height: 350px;
  padding: 30px;
  border-radius: 10px;
  background-color: #806f27;
}
.saysSpan {
  color: black;
}
.starL {
  color: #f2d85f;
  padding: 2px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sayIcon {
    margin-right: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .saysHead {
    margin-left: 20px;
  }
  .saysTitle {
    flex-direction: column;
  }
  .saysIcon {
    margin-left: 0px;
  }
  .sayBox1 {
    left: 630px;
    top: 138px;
    width: 450px;
    height: 350px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .sayBox2 {
    left: -200px;
  }
  .sayBox3 {
    right: 880px;
  }
}

@media only screen and (max-width: 767px) {
  .saysHead {
    margin-left: 20px;
  }
  .saysTitle {
    flex-direction: column;
  }
  .saysIcon {
    margin-left: 0px;
  }
  .sayBox1 {
    left: 730px;
    top: 138px;
    width: 450px;
    height: 350px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .sayBox2 {
    left: -200px;
  }
  .sayBox3 {
    right: 880px;
  }
}
