.home {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 90px;
  background-image: linear-gradient(
    89.36deg,
    rgba(255, 236, 210, 0.4) -6.96%,
    rgba(193, 249, 195, 0.4) 105.9%
  );
}

.homeTitle {
  height: 100%;
  width: 100%;
  margin-left: 100px;
  margin-top: 50px;
}
.homeHeading {
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 20px;
}
.homeHeadings {
  color: #3d340c;
}
.careGreek {
  color: #00c231;
}
.homeBtn {
  color: #3d340c;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 20px;
  border: 3px solid #f2d85f;
  border-radius: 20px;
  border-top-right-radius: 2px;
  background-color: #f2d85f;
}
.homeLeft {
  width: 100%;
  height: 100%;
}
.homeImage {
  width: 100%;
  height: 100%;
  left: 80px;
  bottom: 35px;
  position: relative;
}
.homeImageItem {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}
.homeDivDiv {
  width: 65%;
  height: 100%;
  display: flex;
  bottom: 320px;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: white;
}
.homeDiv {
  width: 30%;
  height: 100%;
  margin-right: 40px;
}
.homeImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}
.homeImgE {
  width: 50%;
  height: 100%;
  padding-top: 10px;
  position: relative;
}
.star {
  color: #f2d85f;
  padding: 0 2px 2px 2px;
}
.homeDash1 {
  width: 100%;
  height: 100%;
  bottom: 280px;
  left: 50px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.homeList {
  list-style: none;
  line-height: 20px;
}
.homeListItem1 {
  color: white;
  font-size: 50px;
}
.homeDash2 {
  width: 100%;
  height: 100%;
  bottom: 20px;
  left: 180px;
  position: relative;
}
.homeListItem2 {
  font-size: 50px;
  color: rgb(24, 148, 24);
}
.homeDash3 {
  width: 100%;
  height: 100%;
  bottom: 340px;
  left: 190px;
  position: relative;
}
.homeListItem3 {
  font-size: 50px;
  color: white;
}
.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  bottom: 680px;
  left: 90px;
  position: relative;
  border: 4px solid rgb(74, 74, 74);
}
.triangle {
  bottom: 20px;
  width: 0;
  height: 0;
  bottom: 680px;
  left: 430px;
  position: relative;
  border-top: 15px solid transparent;
  border-right: 34px solid #00c231;
  border-bottom: 15px solid transparent;
}
.starLarge {
  font-size: 50px;
  visibility: hidden;
  color: #f2d85f;
  position: relative;
  bottom: 700px;
  left: 300px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .homeLeft {
    right: 50px;
    position: relative;
  }
  .triangle {
    bottom: 730px;
  }
  .circle {
    bottom: 730px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home {
    flex-direction: column;
  }
  .homeTitle {
    margin-left: 0;
  }
  .homeHeading {
    padding-left: 20px;
    font-size: 40px;
  }
  .homeLeft {
    display: flex;
    flex-direction: column;
  }
  .homeDash1 {
    left: 0px;
    bottom: 400px;
    display: flex;
  }
  .homeList {
    margin-right: 650px;
  }

  .homeDash2 {
    display: none;
  }
  .homeDash3 {
    display: none;
  }
  .homeImage {
    left: 0px;
    bottom: 0px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeImageItem {
    width: 750px;
    height: 750px;
  }
  .homeDivDiv {
    width: 80%;
    bottom: 280px;
    padding: 20px 0;
    margin-left: 20px;
  }
  .homeDiv {
    width: 20%;
  }
  .triangle {
    left: 0;
    bottom: 1100px;
    margin-left: 650px;
    margin-top: 30px;
  }
  .circle {
    left: 0px;
    bottom: 1130px;
    margin-left: 350px;
  }
  .starLarge {
    visibility: visible;
    position: relative;
    bottom: 1150px;
    left: 0px;
    margin-right: 0px;
    margin-left: 50px;
  }
  .homeBtn {
    font-size: 14px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .home {
    flex-direction: column;
  }
  .homeTitle {
    margin-left: 0;
  }
  .homeHeading {
    padding-left: 20px;
    font-size: 40px;
  }
  .homeLeft {
    display: flex;
    flex-direction: column;
  }
  .homeDash1 {
    left: 0;
    bottom: 250px;
    display: flex;
  }
  .homeList {
    margin-right: 290px;
  }

  .homeDash2 {
    display: none;
  }
  .homeDash3 {
    display: none;
  }
  .homeImage {
    left: 0px;
    bottom: 0px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homeImageItem {
    width: 380px;
    height: 380px;
  }
  .homeDivDiv {
    width: 90%;
    bottom: 240px;
  }
  .triangle {
    left: 0;
    bottom: 750px;
    margin-left: 350px;
    margin-top: 30px;
  }
  .circle {
    left: 0px;
    bottom: 780px;
  }
  .starLarge {
    visibility: visible;
    position: relative;
    bottom: 810px;
    left: 0px;
    margin-right: 320px;
  }
  .homeBtn {
    font-size: 14px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 424px) {
  .homeHeading {
    padding-right: 3px;
  }
  .homeImageItem {
    width: 330px;
    height: 330px;
  }
  .starLarge {
    bottom: 760px;
    margin-right: 280px;
  }
  .circle {
    left: 0px;
    bottom: 730px;
  }
  .triangle {
    bottom: 700px;
    margin-left: 300px;
    margin-top: 30px;
  }
  .homeDash1 {
    bottom: 240px;
  }
  .homeList {
    margin-right: 230px;
  }
  .homeDivDiv {
    width: 90%;
    bottom: 230px;
  }
}

@media only screen and (max-width: 374px) {
  .homeImageItem {
    width: 290px;
    height: 290px;
  }
  .starLarge {
    bottom: 750px;
    margin-right: 220px;
  }
  .circle {
    left: 0px;
    bottom: 710px;
  }
  .triangle {
    bottom: 690px;
    margin-left: 250px;
    margin-top: 30px;
  }
  .homeDash1 {
    bottom: 220px;
  }
  .homeList {
    margin-right: 190px;
  }
  .homeDivDiv {
    width: 90%;
    bottom: 210px;
  }
}
